services:
  grafana:
    image: grafana/grafana:12.4.0-20977568970-ubuntu
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - grafana.env
    volumes:
      - ./grafana_data:/var/lib/grafana
  influxdb:
    image: influxdb:2.8.0
    container_name: influxdb
    restart: unless-stopped
    ports:
      - '8086:8086'
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_ORG=homelab
      - DOCKER_INFLUXDB_INIT_BUCKET=internal
    env_file:
      - influxdb.env
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb-init.sh:/docker-entrypoint-initdb.d/influxdb-init.sh