services:
  grafana:
    image: grafana/grafana:12.4.0-20977568970-ubuntu
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file:
      - grafana.env
    volumes:
      - ./grafana_data:/var/lib/grafana
  influxdb:
    image: influxdb:2.8.0
    container_name: influxdb
    restart: unless-stopped
    ports:
      - '8086:8086'
    env_file:
      - influxdb.env
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb-init.sh:/docker-entrypoint-initdb.d/influxdb-init.sh:ro
  dozzle:
    image: amir20/dozzle:v9.0.2
    container_name: dozzle
    restart: unless-stopped
    ports:
      - '8087:8080'
    environment:
      DOZZLE_AUTH_PROVIDER: simple
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dozzle_data:/data
  telegraf:
    image: telegraf:1.37.1
    container_name: telegraf
    restart: unless-stopped
    depends_on:
      - influxdb
    env_file:
      - influxdb.env
      - telegraf.env
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /:/hostfs:ro