services:
  grafana:
    image: grafana/grafana:12.4.0-20977568970-ubuntu
    container_name: grafana
    restart: unless-stopped
    ports:
      - '8090:3000'
    env_file:
      - ./grafana/grafana.env
      - ./influxdb/influxdb.env
    volumes:
      - ./grafana_data:/var/lib/grafana
      - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
      - ./grafana/dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
  influxdb:
    image: influxdb:2.8.0
    container_name: influxdb
    restart: unless-stopped
    ports:
      - '8091:8086'
    env_file:
      - ./influxdb/influxdb.env
    volumes:
      - ./influxdb_data:/var/lib/influxdb2
      - ./influxdb/influxdb-init.sh:/docker-entrypoint-initdb.d/influxdb-init.sh:ro
  dozzle:
    image: amir20/dozzle:v9.0.2
    container_name: dozzle
    restart: unless-stopped
    ports:
      - '8092:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dozzle_data:/data
  telegraf:
    image: telegraf:1.37.1
    container_name: telegraf
    restart: unless-stopped
    depends_on:
      - influxdb
    env_file:
      - ./telegraf/telegraf.env
      - ./influxdb/influxdb.env
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /:/hostfs:ro
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - '8093:1883'
    env_file:
      - ./mosquitto/mosquitto.env
    volumes:
      - ./mosquitto_data/data:/mosquitto/data
      - ./mosquitto_data/config:/mosquitto/config
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - ./mosquitto/mosquitto-init.sh:/entrypoint.sh:ro
    entrypoint: ["/entrypoint.sh"]