Mqtt__Host=mosquitto
Mqtt__Port=1883
Mqtt__Username={YOUR_MQTT_USERNAME}
Mqtt__Password={YOUR_MQTT_PASSWORD}
Mqtt__ClientId={YOUR_MQTT_CLIENT_ID}
Mqtt__SessionExpiryIntervalInSeconds=86400 # 24 hours
Mqtt__MessageJsonNamingPolicy=SnakeCaseLower
ShellyWorker__Topic={YOUR_SHELLY_TOPIC}
ShellyWorker__EnsureConnectionLoopDelayInSeconds=900 # 15 minutes
ShellyWorker__DeviceId={YOUR_SHELLY_DEVICE_ID}
ShellyWorker__DeviceType={YOUR_SHELLY_DEVICE_TYPE}
ShellyWorker__RoomId={YOUR_SHELLY_ROOM_ID}
ShellyWorker__InfluxDbBucket=sensors
ShellyWorker__IsTelemetryEnabled=true
InfluxDb__Host=http://influxdb:8086
InfluxDb__Token={YOUR_INFLUXDB_TOKEN}
InfluxDb__Organization=homelab